[submodule "eh/themes/cactus"]
	path = eh/themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "eh/public"]
	path = eh/public
	url = https://github.com/ei5uke/ei5uke.github.io.git
[submodule "eh/themes/hugo-theme-cactus"]
	path = eh/themes/hugo-theme-cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
