{{ define "main" }}
<link rel="icon" type="image/x-icon" href="/logos/favicon.ico">
<style>  
    img {
      float: left;
    }
  
    p {
      text-align: center;
    }

</style>
<body>
    <div>
        <div>
            <img src={{.Params.img}} width="200">
        </div>
        <p>
            That's me! (photo credit to my friend <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/light_ichiro/">Jeffrey Huang</a>)
        </p>
        <p>
            B.S. in Computer Science at SUNY Binghamton
        </p>
        <p>
            <a target="_blank" rel="noopener noreferrer" href="https://robotics.cs.binghamton.edu/">AIR (2022 - present)</a>, under Shiqi Zhang 
        </p>
        <p>
            <a target="_blank" rel="noopener noreferrer" href="https://ai4ce.github.io/">AI4CE (2022 - present)</a>, under Chen Feng
        </p>
        <p>
            Prefer cats over dogs.
        </p>
        <p>
            In my free time, I like to cook and play Shogi. 
        </p>
    </div>
    <p>
        My current objectives are to keep gaining more research experience and learn more applications of Reinforcement Learning 
        in the real world. Mainly using RL in robotics domains (legged robots, rearrangement). I'd like to publish my own paper.
        Also, I plan to pursue a phd.
    </p>
    <p>

    </p>
</body>
{{ end }}