{{ define "main" }}
<link rel="icon" type="image/x-icon" href="/logos/favicon.ico">
<style>  
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
  
    p {
      text-align: center;
    }

</style>
<body>
    <div>
        <div>
            <img src={{.Params.img}} width="400">
        </div>
        <p>
            B.S. 2025 in Computer Science at SUNY Binghamton
        </p>
        <p>
            <a target="_blank" rel="noopener noreferrer" href="https://robotics.cs.binghamton.edu/">AIR (2022 - present)</a>, under Shiqi Zhang 
        </p>
        <p>
            <a target="_blank" rel="noopener noreferrer" href="https://ai4ce.github.io/">AI4CE (2022 - 2023)</a>, under Chen Feng
        </p>
        <p>
            cats >>> dogs. I enjoy cooking and my favorite manga is Oyasumi Punpun.
        </p>
    </div>
    <p>
        Hello! I'm currently an undergrad, generally interested on applying learning to robotics. I've a keen interest in 
        Reinforcement Learning and commonsense reasoning. As of now, I mainly work with quadruped research. My short-term goal during
        my undergrad is to publish a paper. My long-term mission is to contribute to the development of robots to human-inhabited 
        environments (such as in hospitals or the home) that collaborate with us, with reasoning. 
    </p>
    <p>

    </p>
</body>
{{ end }}